/*
Theme Name: webthoitrang
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/
/*************** ADD CUSTOM CSS HERE.   ***************/

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//fonts.googleapis.com/css?family=Lora:400,700);
@media only screen and (max-width: 48em) {
    /*************** ADD MOBILE ONLY CSS HERE  ***************/
}
* {
    font-family: 'Lora', sans-serif, Verdana, 'Nanum Gothic';
}
.ft-customer p {
    color: #c62b33;
    line-height: 18px;
    font-size: 11px;
}
.footer-1 .menu li a {
    padding-bottom: 5px;
    color: #c62b33;
    font-size: 11px;
}
.footer-1 .menu li {
    border-top: none;
}
.footer-1 .is-divider.small {
    background: none;
}
.footer-2 .footer_ico li {
    float: left;
    margin-right: 30px;
}
.footer-2 #block_widget-5 {
    text-align: center;
}
.footer-2 {
    background-color: #fff;
}
.footer-2 #block_widget-5 ul {
    display: inline-table;
}
.footer-2 #block_widget-5 p {
    color: #c62b33;
    line-height: 18px;
    font-size: 11px;
}
.footer-1,
.footer-2 {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    z-index: 99999;
    position: relative;
}
.back-to-top.active {
    z-index: 999999;
}
.product-small .box-text-products {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .flex-right .nav-right .header-search{
        position: fixed;
        top: 40%;
        right: 103px;
    }

    ul.header-nav .cart-item i {
        font-size: 30px;
    }
    .home .page-wrapper {
        padding-top: 0;
    }
    .footer-1 .widget-title {
        font-size: 13px;
        margin-bottom: 20px;
        color: #c62b33;
    }
    ul.header-nav .cart-item {
        position: fixed;
        top: 50%;
        left: 7%;
    }
    #masthead #logo {
        position: fixed;
        right: 0%;
        /*transform: rotate(90deg);*/
        bottom: 20%;
    }
    #masthead #logo img {
        max-height: 200px;
    }
}
@media screen and (max-width: 768px) {
    .home .row-small>.col {
        padding: 0 0.9px 15.6px;
    }
    .home .col {

        padding: 0 11px 30px;
    }
    .header .flex-row .flex-right {
        display:block !important;
    }
}
#customer_details #billing_last_name_field {
    width: 100%;
}
.woocommerce-orders .footer-1 {
    z-index: auto;
}